extends templates/layout

block main
	//- .loading
	//- 	.loader#loading
	//- 	.loading_name Andrey V.
	.content
		.row.no-gutters#home
			.col-md-7.order-last.order-md-6
				.overlay-navigation
					nav(role='navigation') 
						ul
							li
								a(href='index.html', data-content='The beginning') Home
							li
								a(href='about.html', data-content='Curious?') About
							li
								a(href='portfolio.html', data-content='I got game') Portfolio
							li
								a(href='contact.html', data-content='Only the finest') Contact
				section.home
					.open-overlay
						span.bar-top
						span.bar-middle
						span.bar-bottom
			
				#card1.b-about__card--first
					.row
						.col-6
							img(src="img/work.jpg", alt="").b-about__img-box
							.b-about__item-title Vivdenko A.
						.col-6
							
				.row.no-gutters#card2.b-about__box-top
					.col-6
						.b-about__box-img1
							.b-about__item
								img(src="img/work.jpg", alt="work").b-about__img
								.b-about__plus-box
									.b-about__img-replace
							
							.b-about__person-box#box1
								.b-about__person-title Andrei V.
								.b-about__person-description developer
							.b-about__person-item
								.b-about__person-text 
									| Hello, <br>My name is Andrei. <br> I live in Ukraine and i 
									span.b-about__box-bg am junior frontend developer. 
									|<br> I love coding as all of you do.
								.b-about__btn.b-about__hire-btn
									div view
								span.b-about__close1
						//- .b-about__link
					
					.col-6
						.b-about__box-img
							.b-about__item
								img(src="img/work-1.jpg", alt="work").b-about__img-1
								.b-about__plus-box1
									.b-about__img-replace
							.b-about__person-box#box2
								.b-about__person-title Daniil S.
								.b-about__person-description design ui/ux
							.b-about__person-card
								.b-about__person-desc
									| Hello, <br>My name is Daniil. <br> I live in Ukraine and i 
									span.b-about__box-bg am designer ui/ux 
									|<br> I love create a beautiful design for you.
									span.b-about__close 
									
					
				
				.b-header__box-item
					form()
						h1.b-header__input-title subscribe to news
						.input-wrap
							input#name.name(type='text', required='').b-header__input
							label(for='E-mail:' type="email") Your email address:
						a(href="#").b-header__btn.b-header__hire-btn
							i.fas.fa-long-arrow-alt-right.b-contact__btn-arrow
							div subscribe
				.b-header__icons
					ul
						a(href="#")
							li
								i.fab.fa-codepen.b-header__social-icon.b-header__icon-codepen
						a(href="#")
							li
								i.fab.fa-linkedin-in.b-header__social-icon.b-header__icon-linkedin
						a(href="#")
							li
								i.fab.fa-github.b-header__social-icon.b-header__icon-git
						
						a(href="#")
							li
								i.fab.fa-twitter.b-header__social-icon.b-header__icon-face
						a(href="#")
							li
								i.fab.fa-instagram.b-header__social-icon.b-header__icon-fire

			.col-md-5.order-6.order-md-6
				.b-header__bg-about
					.b-header__overlay
					.b-header__item
						.b-header__title About us
						.b-header__text #Landing page
						.b-header__text #Design Ui / ux
					.b-header__lang
						.b-header__lang-title eng
						.b-header__lang-title rus

						//- a(href="#").fullscreenTrigger
						//- 	svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='20px', height='20px', viewbox='0 0 20 20', version='1.1').fullscreenTrigger-open
						//- 		path#fullscreen(fill="#fff",d='M6,0 L6,2 L2,2 L2,6 L0,6 L0,0 L6,0 Z M20,6 L18,6 L18,2 L14,2 L14,-6.58092909e-16 L20,4.4408921e-16 L20,6 Z M14,20 L14,18 L18,18 L18,14 L20,14 L20,20 L14,20 Z M3.6739404e-16,14 L2,14 L2,18 L6,18 L6,20 L0,20 L3.6739404e-16,14 Z')
						//- 	svg(xmlns='http://www.w3.org/2000/svg', width='21', height='21', viewbox='0 0 20 20').fullscreenTrigger-close
						//- 		path(fill="#fff",fill-rule='evenodd', d='M793,866 L793,864 L797,864 L797,860 L799,860 L799,866 L793,866 Z M807,860 L809,860 L809,864 L813,864 L813,866 L807,866 L807,860 Z M813,874 L813,876 L809,876 L809,880 L807,880 L807,874 L813,874 Z M799,880 L797,880 L797,876 L793,876 L793,874 L799,874 L799,880 Z', transform='translate(-793 -860)')
