extends templates/layout

block main
	//- .loading
	//- 	.loader#loading
	//- 	.loading_name 
	//- 		.b-contact__top-item FLO
	//- 				span.b-contact__item-span W
	.content
		.overlay-navigation
				nav(role='navigation') 
					ul
						li
							a(href='index.html', data-content='The beginning') Home
						li
							a(href='about.html', data-content='about us') About
						li
							a(href='portfolio.html', data-content='check my portfolio') Portfolio
						li
							a(href='contact.html', data-content='sent a message') Contact
						
		section.home
			.open-overlay#animate7
				span.bar-top
				span.bar-middle
				span.bar-bottom
		.row.no-gutters#portfolio
			.col-md-7.order-last.order-md-6
				.b-contact__item-logo
					img(src="img/logo.png", alt="logo").b-contact__logo
				.b-header__box-item.b-header__item-top
					form()#form
						h1.b-header__input-title#animate2 write to us
						.input-wrap#animate3
							input#name.name(type='text', required='').b-header__input
							label(for='name') Name
						.input-wrap#animate4
							input#name.name(type='text', required='').b-header__input
							label(for='E-mail:' type="email") E-mail
						.input-wrap#animate5
							textarea(name="", rows="5")#name.name(type='text', required='').b-header__input
							label(for='name') How can I help you?

					
						//- .file-upload
						//- 	label
						//- 		input(type='file', name='file')
						//- 		.file-span file:

						button.b-contact__btn.b-contact__hire-btn.b-contact__btn#animate6
							i.fas.fa-long-arrow-alt-right.b-contact__btn-arrow
							div send
								

							
				iframe(src='https://snazzymaps.com/embed/79106', width='100%', height='320px', style='border:none;')


				.b-header__box-footer
					ul
						li
							a(href="#") Instagram
						li
							a(href="#") Github
						li
							a(href="#") Behance

						
				//- 	i.fas.fa-angle-right.fa-8x.b-header__right
			.col-md-5.order-6.order-md-6
				.b-header__bg-contact
					.b-header__overlay
					.b-header__item
						.b-header__title Contact
						.b-header__text #write_us_letter
					.b-header__lang
						.b-header__lang-title eng
						.b-header__lang-title rus
						


							


			
