extends templates/layout

block main
	//- .loading
	//- 	.loader#loading
	//- 	.loading_name Andrey V.
	.content#home
		.row.no-gutters#portfolio
			.col-md-7.order-last.order-md-6
				.b-header__item-list
				.b-header__box-item
					form()
						h1.b-header__input-title subscribe to news
						.input-wrap
							input#name.name(type='text', required='').b-header__input
							label(for='E-mail:' type="email") Your email address:
						a(href="#").b-header__btn.b-header__hire-btn
							div subscribe				
				.b-header__icons
					ul
						a(href="#")
							li
								i.fab.fa-codepen.b-header__social-icon.b-header__icon-codepen
						a(href="#")
							li
								i.fab.fa-facebook-messenger.b-header__social-icon.b-header__icon-linkedin
						a(href="#")
							li
								i.fab.fa-github.b-header__social-icon.b-header__icon-git
					
						a(href="#")
							li
								i.fab.fa-twitter.b-header__social-icon.b-header__icon-face
				
			.col-md-4.order-6.order-md-6
				.overlay-navigation
					nav(role='navigation') 
						ul
							li
								a(href='index.html', data-content='The beginning') Home
							li
								a(href='about.html', data-content='Curious?') About
							li
								a(href='portfolio.html', data-content='I got game') Portfolio
							li
								a(href='contact.html', data-content='Only the finest') Contact
							
				section.home
					.open-overlay#animate4
						span.bar-top
						span.bar-middle
						span.bar-bottom
				
				.b-header__bg#animate8
					.b-header__overlay
					.b-header__item
						.b-header__title flowl
						.b-header__text #design ui/ux
						.b-header__text #landing_page
					.b-header__lang
						.b-header__lang-title eng
						.b-header__lang-title rus
	

		
		