extends templates/layout

block main
	//- .loading
	//- 	.loader#loading
	//- 	.loading_name Andrey V.
	.content#home
		.container
		`	
					
			//- .b-center__arrow
			//- 	i.fas.fa-angle-left.fa-8x.b-header__left
			//- 	i.fas.fa-angle-right.fa-8x.b-header__right
		//- #toTop
		//- 	i.fas.fa-level-up-alt




		
		