extends templates/layout

block main
	//- .loading
	//- 	.loader#loading
	//- 	.loading_name Andrey V.
	.content
		.row.no-gutters#portfolio
			.col-md-7.b-slide__box.order-last.order-md-6
				.overlay-navigation
					nav(role='navigation') 
						ul
							li
								a(href='#', data-content='The beginning') Home
							li
								a(href='#', data-content='Curious?') About
							li
								a(href='#', data-content='I got game') Skills
							li
								a(href='#', data-content='Only the finest') Works
							
				section.home
					.open-overlay#animate4
						span.bar-top
						span.bar-middle
						span.bar-bottom
				.b-portfolio__item
					.row.b-portfolio__position
						.col-lg-7.col-md-12.b-portfolio__flex
							ul#myTab.nav.nav-tabs.order-last(role='tablist')
								li.nav-item
									a#home-tab(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') 
										i.fas.fa-desktop.b-porfolio__svg
								li.nav-item
									a#profile-tab(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false')
										i.fas.fa-tablet-alt
								li.nav-item
									a#contact-tab(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false')
										i.fas.fa-mobile-alt
							#myTabContent.tab-content.order-first
								#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 
									img(src='img/posh_psd.png', alt='posh').b-portfolio__img
								#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') 
									img(src='img/renome.jpg', alt='posh').b-portfolio__img
								#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
									img(src='img/renome.jpg', alt='posh').b-portfolio__img


						.col-lg-5.col-md-12
							.b-portfolio__item-title Posh make-up
							.b-portfolio__item-text landing page which provides makeup services for girls at various events.
							.b-portfolio__item-nav Technologies:
								ul
									li
										span Sass/Scss
									li 
										span Pug
									li 
										span Jquery animate
									li 
										span Gulp,Webpack
							a(href="http://posh-make.surge.sh",target="_blank").b-header__hire-portfolio.b-header__btn-portfolio
								div view
						span.b-portfolio__btn
				.owl-carousel#animate6
					.item
						img(src='img/posh.jpg', alt='posh')
						.inner 
							h1 Posh make-up
							.b-portfolio__box-item
								.b-portfolio__img-replace
								//- h5 #pug #sass #scss
							//- button.b-header__hire-portfolio.b-header__btn-portfolio
							//- 	div view
					.item
						img(src='img/renome.jpg', alt='renome')
						.inner
							h1 Renome restaraunt
							.b-portfolio__box-item
								.b-portfolio__img-replace.b-portfolio__img-mod
							//- button.b-header__hire-portfolio.b-header__btn-portfolio
							//- 	div view
								//- h5 #pug #sass #scss
					.item
						img(src='img/renome.jpg', alt='renome')
						.inner
							h1 The Erling Bag
							.b-portfolio__box-item
								.b-portfolio__img-replace
				button.btn-next
					svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 29.3 13.4')
						path#arrow-line(fill='#231F20', d='M0 5.9h28.7v1H0z')
						path#arrow-line1(fill='#231F20', d='M24.1 13.4l-.8-.6 4.8-6.4L23.3 0l.8-.6 5.2 7')
				.b-header__icons
					ul
						a(href="#")
							li
								i.fab.fa-codepen.b-header__social-icon.b-header__icon-codepen
						a(href="#")
							li
								i.fab.fa-facebook-messenger.b-header__social-icon.b-header__icon-linkedin
						a(href="#")
							li
								i.fab.fa-github.b-header__social-icon.b-header__icon-git
						
						a(href="#")
							li
								i.fab.fa-twitter.b-header__social-icon.b-header__icon-face
				
				//- 	i.fas.fa-angle-right.fa-8x.b-header__right
			.col-md-5.order-6.order-md-6
				.b-header__bg-portfolio
					.b-header__overlay
					.b-header__item.b-header__item-portfolio
						.b-header__title Portfolio
						.b-header__text #websites
						//- a(href="#").fullscreenTrigger
						//- 	svg(xmln
						//- 	s='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='20px', height='20px', viewbox='0 0 20 20', version='1.1').fullscreenTrigger-open
						//- 		path#fullscreen(fill="#fff",d='M6,0 L6,2 L2,2 L2,6 L0,6 L0,0 L6,0 Z M20,6 L18,6 L18,2 L14,2 L14,-6.58092909e-16 L20,4.4408921e-16 L20,6 Z M14,20 L14,18 L18,18 L18,14 L20,14 L20,20 L14,20 Z M3.6739404e-16,14 L2,14 L2,18 L6,18 L6,20 L0,20 L3.6739404e-16,14 Z')
						//- 	svg(xmlns='http://www.w3.org/2000/svg', width='21', height='21', viewbox='0 0 20 20').fullscreenTrigger-close
						//- 		path(fill="#fff",fill-rule='evenodd', d='M793,866 L793,864 L797,864 L797,860 L799,860 L799,866 L793,866 Z M807,860 L809,860 L809,864 L813,864 L813,866 L807,866 L807,860 Z M813,874 L813,876 L809,876 L809,880 L807,880 L807,874 L813,874 Z M799,880 L797,880 L797,876 L793,876 L793,874 L799,874 L799,880 Z', transform='translate(-793 -860)')
					.b-header__lang
						.b-header__lang-title eng
						.b-header__lang-title rus
						