.b-about

	&__animate
		transition: 1s linear
	&__person-box
		text-align: center
		padding-top: 4%
	&__box-bg
		background-color: #000000
	&__person-title
		font-size: 1.5em
		+font-fallback('Montserrat')
		font-weight: 600
		color: #4fc08d
	&__person-text
		font-size: 1.5em
		+font-fallback('Montserrat')
		font-weight: 600
		color: #4fc08d
		top: 120px
		left: -47px
		position: absolute
		width: 380px
		text-align: left
	&__person-desc
		font-size: 1.5em
		+font-fallback('Montserrat')
		font-weight: 600
		color: #4fc08d
		position: absolute
		top: 150px
		right: -70px
		z-index: 10
		display: none
		text-align: right
		transition: .8s all linear
		transition-delay: 2s
		transition-duration: 2s
		max-width: 450px
	&__person-description
		font-size: .8em
		line-height: 14px
		font-weight: 500
		text-transform: uppercase
		+font-fallback('Montserrat')
	&__link
		display: none
		position: relative
		right: 100px
		ul
			list-style: none
			li
				display: inline-block
				margin-right: 20px
				color: #000
				
			a
				color: #fff
				font-size: 1em
				
				&:hover
					text-decoration: none
	&__img
		max-width: 80%
		margin-left: 50px
		box-shadow: 0 10px 6px -6px #777;
		cursor: pointer
		// &:focus
		// 	box-shadow: 0px 0px 0px 0px
		// 	transition: .5s linear
			
	&__img-1
		max-width: 87%
		margin-left: 10px
		&:hover
			box-shadow: 0 10px 6px -6px #777;
			cursor: pointer

	&__title 
		font-size: 1.3em
		+font-fallback("Lato")
		position: absolute
		top: 40%
	&__list-item
		list-style-type: none
		li
			&:before
				content: ''
				display: inline-block
				background-color: #4fc08d
				width: 7px
				height: 7px
				margin-right: 1.5%
		a
			color: red
			&:hover
				text-decoration: none
	&__person-item
		position: relative
		width: 400px
		height: 350px
		display: none
	&__close1
		position: absolute
		right: 120px
		top: 90px
		font-size: 1.5em
		cursor: pointer
		z-index: 10
		&:after
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background: #000
			transform: rotate(-45deg);
		&:before
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			
			background-color: #4fc08d
			z-index: 10
			transform: rotate(45deg);
	&__close
		position: absolute
		left: 250px
		top: 100px
		font-size: 1.5em
		cursor: pointer
		display: none
		z-index: 10
		&:after
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background-color: #4fc08d
			transform: rotate(-45deg);
		&:before
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background-color: #4fc08d
			transform: rotate(45deg);


		

.wrapper-portfolio
	overflow: hidden
	height: 100vh
.menu-wrapper 
	max-width: 100%
	cursor: pointer
	color: #000
	text-decoration: none

.accordion-toggle, .accordion-content 
	font-size: 16px;
	position: relative;
	background: #fff
	letter-spacing: 1px;

.menu-container .menu-list 
	padding-left: 0;
	display: block;
	width: 100%;
	max-width: 220px;
	background: white;
	z-index: 999;
	position: relative
	top: -46px
	left: 170px
	overflow-y: auto;
	overflow-x: hidden;
.accordion-content 
    display: none;


.accordion-toggle a:before, .accordion-toggle a:after 
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 200px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #000
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;

.accordion-toggle a:before 
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
.accordion-toggle.active-tab 
	background: #fff;
	transition: all 0.3s ease;	

.accordion-toggle a.active:before 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #000 !important;

.accordion-toggle a.active:after 
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #000 !important;
    opacity: 0;
ul.accordion-content
	list-style-type: none
	margin-top: -10px
a.menu-link
	color: #fff
	text-decoration: none
a.head
	color: #000
	font-size: 0.7em
	text-decoration: none
	list-style-type: none
	margin-left: -40px
#toTop 
	text-align: center;
	position: fixed;
	bottom: 20px; /* отступ кнопки от нижнего края страницы*/
	right: 25px;
	cursor: pointer;
	font-size: 40px
	color: #000
	z-index: 1000



.section 
	display: none;
	width: 100%;
	height: 100%;

.section.active 
	display: block;


.active 
	display: block