.b-about

	&__animate
		transition: 1s linear
	&__person-box
		text-align: center
		padding-top: 4%
	&__box-bg
		background-color: #000000
	&__person-title
		font-size: 1.4em
		+font-fallback('Montserrat')
		font-weight: 600
		color: $green
	&__person-text
		font-size: 1.4em
		+font-fallback('Montserrat')
		font-weight: 600
		color: $green
		width: 380px
		text-align: left
		+sm
			font-size: 1.2em
			width: 270px
		+xs
			font-size: .9em
			width: 270px
	&__person-desc
		font-size: 1.4em
		+font-fallback('Montserrat')
		font-weight: 600
		color: $green
		text-align: right
		width: 380px
		+sm
			font-size: 1.2em
			width: 270px
		+xs
			font-size: .9em
			width: 200px
	&__person-description
		font-size: .7em
		line-height: 14px
		font-weight: 500
		text-transform: uppercase
		+font-fallback('Montserrat')
	&__link
		display: none
		position: relative
		right: 50px
		ul
			list-style: none
			li
				display: inline-block
				margin-right: 20px
				color: #000
				
			a
				color: #fff
				font-size: 1em
				
				&:hover
					text-decoration: none
	&__img
		width: 90%
		display: block
		margin-left: auto
		margin-right: auto
		box-shadow: 0 10px 6px -6px #777;
		+md
			width: 92.1%
	&__img-box
		width: 80%
		display: block
		margin-left: auto
		margin-right: auto
		box-shadow: 0 10px 6px -6px #777;
	&__img-1
		width: 84.5%
		display: block
		margin-left: auto
		margin-right: auto 
		box-shadow: 0 10px 6px -6px #777
		+md
			width: 94%
	

	&__title 
		font-size: 1.3em
		+font-fallback("Lato")
		position: absolute
		top: 40%
	&__list-item
		list-style-type: none
		li
			&:before
				content: ''
				display: inline-block
				background-color: $green
				width: 7px
				height: 7px
				margin-right: 1.5%
		a
			color: red
			&:hover
				text-decoration: none
	&__person-card
		position: absolute
		width: 400px
		height: 350px
		top: 30%
		right: 74%
		display: none
		+md
			right: 75%
		+sm
			right: 22%
		+xs
			right: -22%
	&__person-item
		position: absolute
		top: 30%
		left: 74%
		width: 400px
		height: 350px
		cursor: pointer
		display: none
	&__close1
		position: absolute
		right: 14%
		top: -10%
		font-size: 1.5em
		cursor: pointer
		z-index: 10
		+sm
			right: 36%
		+xs
			right: 52%
		&:after
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background: #000
			transform: rotate(-45deg);
		
		&:before
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background-color: $green
			z-index: 10
			transform: rotate(45deg);
	&__close
		position: absolute
		left: 0
		top: 0
		font-size: 1.5em
		cursor: pointer
		z-index: 10
		
		+md
			left: 5%
		+sm
			left: -2%
		+xs
			left: 3%
			top: -5%
		&:after
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background: $green
			transform: rotate(-45deg);
			
		
		&:before
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background-color: #000
			z-index: 10
			transform: rotate(45deg);
	
	&__item
		position: relative
	&__btn
		display: inline-block;
		text-decoration: none;
		background-color: $green
		text-align: left;
		position: relative;
		color: #fff
		+font-fallback('Lato')
		font-size: 10px;
		font-weight: 700;
		line-height: 34px;
		width: 130px
		height: 34px	
		text-transform: uppercase;
		/* Text style for "A, bout" */
		letter-spacing: 5.2px;
		overflow: hidden;
		&:after
			content: "profile"
			display: flex
			justify-content: center
		&:hover div
			transform: translateZ(0)
		div
			transition: all .5s
			display: inline-block;
			background-color: #fff
			color: #000
			text-transform: uppercase;
			white-space: nowrap;
			padding-left: 5px
			position: absolute	
			top: -2px
			padding-top: 3px	
			transform: translateX(-101%);
			&:after
				color: #fff
				// clip-path: polygon(0	 0,100% 0,100% 100%,0 100%);
	&__hire-btn
		transition: all .5s cubic-bezier(0.6,0,0.5,1)
		margin-top: 7%
		margin-left: 57%
		z-index: 10
		&:hover
			color: transparent
			text-decoration: none
	&__card--first
		margin: 20%	0
	&__item-title
		font-size: 1.1em;
		+font-fallback('Montserrat')
		font-weight: 600;
		color: #222222;
		padding-top: 4%
		display: flex
		justify-content: center
	&__box-desck
		font-family: 'Stolzl-medium'
		font-size: .8em
		color: #7b7772
		max-width: 400px	
	&__box-span
		color: $green
		margin-left: 1px
	&__icon-list 
		
		ul
			list-style-type: none
			li
				display: inline-block
				margin-right: 20px
				a
					font-size: 1.4em;
					+font-fallback('Montserrat')
					font-weight: 600;
					color: #000000
		&:before
			content: ""
			display: inline-block
			border-top: 1px solid #000000
			width: 5%

	&__item-text
		font-size: .85em;
		+font-fallback('Montserrat')
		font-weight: 600;
		color: $green
		display: flex
		justify-content: center
		// animation: animate-text 1s cubic-bezier(.42,.97,1,1.49)
	&__box-top
		margin-top: 13%
	&__img-replace
		position: absolute
		display: block;
		width: 35px;
		height: 35px;
		top: 85%//85%
		right: 15%//15%
		border-radius: 50%
		background: $green
		cursor: pointer
		box-shadow: 0 0 0 0 rgba($green,.5)
		z-index: 2;
		transition: background-color 0.3s;
		animation: pulse 1.4s infinite cubic-bezier(.42,.97,.52,1.49)
		+md
			top: 81%
			right: 10%
		&::after
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			bottom: auto;
			right: auto;
			transform: translateX(-50%) translateY(-50%);
			background-color: #fff;
			transition: transform 0.3s;
			height: 1px;
			width: 13px;
			
		&::before
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			bottom: auto;
			right: auto;
			transform: translateX(-50%) translateY(-50%);
			background-color: #fff;
			transition: transform 0.3s;
			height: 13px;
			width: 1px;
@keyframes pulse 
	0% 
		transform: (scale(.9));

	70% 
		transform: (scale(1));
		box-shadow: 0 0 0 5px rgba($green, 0.2);

	100% 
		transform: (scale(.9));
		box-shadow: 0 0 0 0 rgba($green, 0.2);

		

.wrapper-portfolio
	overflow: hidden
	height: 100vh
.menu-wrapper 
	max-width: 100%
	cursor: pointer
	color: #000
	text-decoration: none

.accordion-toggle, .accordion-content 
	font-size: 16px;
	position: relative;
	background: #fff
	letter-spacing: 1px;

.menu-container .menu-list 
	padding-left: 0;
	display: block;
	width: 100%;
	max-width: 220px;
	background: white;
	z-index: 999;
	position: relative
	top: -46px
	left: 170px
	overflow-y: auto;
	overflow-x: hidden;
.accordion-content 
    display: none;


.accordion-toggle a:before, .accordion-toggle a:after 
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 200px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #000
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;

.accordion-toggle a:before 
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
.accordion-toggle.active-tab 
	background: #fff;
	transition: all 0.3s ease;	

.accordion-toggle a.active:before 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #000 !important;

.accordion-toggle a.active:after 
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #000 !important;
    opacity: 0;
ul.accordion-content
	list-style-type: none
	margin-top: -10px
a.menu-link
	color: #fff
	text-decoration: none
a.head
	color: #000
	font-size: 0.7em
	text-decoration: none
	list-style-type: none
	margin-left: -40px
#toTop 
	text-align: center;
	position: fixed;
	bottom: 20px; /* отступ кнопки от нижнего края страницы*/
	right: 25px;
	cursor: pointer;
	font-size: 40px
	color: #000
	z-index: 1000



.section 
	display: none;
	width: 100%;
	height: 100%;

.section.active 
	display: block;

#card1
	display: block

#card2
	display: none	
.active 
	display: block
.active-animate	
	display: block
	animation: animate 1s cubic-bezier(.42,.97,.52,1.49)
.active-card
	display: block
	animation: card 1s cubic-bezier(.42,.97,.52,1.49)
.remove
	display: none !important
.animate
	animation: leave 1s cubic-bezier(.42,.97,.52,1.49)
@keyframes animate
	from
		transform: translateY(100px)
		opacity: 0
	to
		transform: translateY(0)
		

@keyframes card
	from
		transform: translateY(100px)
		opacity: 0
	to
		transform: translateY(0)
@keyframes leave
	from
		transform: translateY(-200px);
	to
		transform: translateY(0px);