.b-contact
	&__input-top
		margin-top: 5%
	&__input-bottom
		margin-top: 5%
		margin-bottom: 12%
	&__item-contact
		+xs
			padding-top: 65%
	&__top-item
		display: flex
		justify-content: center
		padding-top: 5%
		+font-fallback('Montserrat')
		color: #000000
		font-weight: 500
		letter-spacing: 3px
		font-size: 2em
	&__box-footer
		ul
			list-style: none
			li
				display: inline-block
				margin-right: 20px
				a
	&__logo
		width: 20%			
	&__item-logo
		display: flex
		justify-content: center
		align-items: center
		margin-top: 3%
		

	&__btn-arrow
		position: absolute
		right: 10px
		top: 9px
		font-size: 1.3em
	&__btn
		display: inline-block;
		text-decoration: none;
		background-color: $green
		text-align: left;
		position: relative;
		color: #fff
		+font-fallback('Poppins')
		font-size: .76em;
		line-height: 34px;
		font-weight: 500
		width: 125px
		height: 34px
		/* Text style for "A, bout" */
		letter-spacing: 2.7px;
		overflow: hidden;
		&:after
			content: "send"
			display: flex
			justify-content: center
		
		&:hover div
			transform: translateZ(0)
		div
			transition: all .5s
			display: inline-block;
			background-color: #fff
			color: #6fa894
			padding-left: 5px
			margin-top: -10px
			position: absolute
			top: 10px	
			transform: translateX(-112%);
			margin-left: -8px
			&:after
				color: #fff
				clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	&__hire-btn
		transition: all .5s cubic-bezier(0.6,0,0.5,1)
		position: absolute
		top: 110%
		
		&:hover
			color: transparent
input,textarea
	background: none;
	border: none;
	
	border-bottom: 1px solid #386884;
	color: #222;
	padding: 1em 0.25em;
	width: 100%;
.input-wrap 
	position: relative
	margin-top: 40px
.input-wrap label 
	position: absolute
	top: 0px;
	padding: 0.64615385em 1.15384615em;
	+font-fallback('Montserrat')
	font-size: .8em
	left: 0px;
	z-index: -1
	color: #999;
	transition: all .4s ;

.input-wrap input 
	z-index: 15;
.input-wrap textarea 
	z-index: 15;
		
.input-wrap input:focus + label,
.input-wrap input:valid + label,
.input-wrap textarea:focus + label,
.input-wrap textarea:valid + label,

	top: -40px;
	left: 0px
	width: 88%
	display: block
	margin-left: auto
	margin-right: auto
	margin: 1px
	
	&::placeholder
		color: $green
		+font-fallback('Montserrat')
		letter-spacing: 0.06em
		font-size: 0.9em
		font-weight: 700
	&:focus
		border-color: #A52A2A

.file-upload 
	position: absolute /* Даем возможность делать позиционирование, внутри данного элемента */
	overflow: hidden; /* Все что выходит за пределы - скрываем */
	width: 100px; /* Задаем ширину кнопки выбора файла */
	background: #388a6b
	height: 35px
	color: #fff
	top: 110%
	right: 12%
	text-align: center;
	+font-fallback('Montserrat')
	font-size: .73em
	font-weight: 700
	letter-spacing: 2.7px
	+sm
		right: 0%
	&:hover
		color: #000
		background: #fff
		transition: 0.1s ease-in-out
		border: 0.1px solid #dedede
		
.menu-over
	overflow: hidden
.file-upload input[type="file"]
	display: none; /* Обязательно скрываем настоящий Input File */
	


.file-upload .file-span
	line-height: 34px
	display: flex
	justify-content: center	

// @keyframes top
// 	from
// 		margin-top: -20px
// 	to
// 		margin-top: 0px
