.b-portfolio
    &__btn
        position: absolute
        right: 0
        top: -50px
        font-size: 1.5em
        cursor: pointer
        z-index: 10
        +sm
            right: 36%
        +xs
            right: 52%
        &:after
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background: #000
            transform: rotate(-45deg);

        &:before
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #4fc08d
            z-index: 10
            transform: rotate(45deg);
    &__position
        position: relative
        margin-bottom: 200px
    &__img
        width: 100%
        
        display: block
        margin-left: auto
        margin-right: auto
    &__item
        width: 80%
        display: block
        margin-left: auto
        margin-right: auto
        margin-top: 25%
        display: none

    &__item-title
        font-size: 1.1em;
        +font-fallback('Montserrat')
        font-weight: 600;
        color: #222222;
        padding-top: 4%
        &:after
            content: ""
            display: inline-block
            background-color: #4fc08d
            width: 20px
            height: 2px
            vertical-align: middle
            margin-left: 10px
    &__item-nav
        font-size: 1.1em;
        +font-fallback('Montserrat')
        font-weight: 600;
        color: #222222
        ul
            margin-top: 5%
        li
            color: #4fc08d
            vertical-align: middle
            margin-top: -7px
            span
                color: #222222;
                font-size: .6em;
                +font-fallback('Montserrat')
                font-weight: 300;
                letter-spacing: 1px

    &__item-text
        font-size: .7em;
        padding-top: 20px
        +font-fallback('Montserrat')
        font-weight: 300;
        color: #222222;
        letter-spacing: 1px
        text-align: justify
        &:after
            content: ""
            display: block
            background-color: #f2f2f2
            width: 100%
            height: 1px
            vertical-align: middle
            margin: 20px 0
    &__img-mod
        position: absolute
        left: 180px !important
    &__img-replace
        position: absolute
        display: block;
        width: 35px;
        height: 35px;
        bottom: 70px
        left: 130px
        border-radius: 50%
        background: #4fc08d
        cursor: pointer
        box-shadow: 0 0 0 0 rgba(#4fc08d,.5)
        z-index: 2;
        transition: background-color 0.3s;
        animation: pulse 1.4s infinite cubic-bezier(.42,.97,.52,1.49)
        
        &::after
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            bottom: auto;
            right: auto;
            transform: translateX(-50%) translateY(-50%);
            background-color: #fff;
            transition: transform 0.3s;
            height: 1px;
            width: 13px;
            
        &::before
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            bottom: auto;
            right: auto;
            transform: translateX(-50%) translateY(-50%);
            background-color: #fff;
            transition: transform 0.3s;
            height: 13px;
            width: 1px;
   
@keyframes pulse 
	0% 
		transform: (scale(.9));

	70% 
		transform: (scale(1));
		box-shadow: 0 0 0 5px rgba(#4fc08d, 0.2);

	100% 
		transform: (scale(.9));
		box-shadow: 0 0 0 0 rgba(#4fc08d, 0.2);

