block first-line
|
|
doctype html
html(lang='en')
	head
		title F L O W L
		meta(name="description" content="")
		include ../inc/head
	body
		.wrapper
			include ../utils/mixins
			include ../inc/header
			|
			|
			block main
			|
			|
			include ../inc/footer
		
		block scripts
			script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
			script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
			//- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
			script(src='js/main.js')
			//- script(src='https://player.vimeo.com/api/player.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js', integrity='sha256-399DNRyfIpWIy1ZV0KmEIIuIQ5sBHdLu9MBtVHrNtt8=', crossorigin='anonymous')
			//- <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
			script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			script.
						$('.owl-carousel').owlCarousel({
						stagePadding:200,
						loop:true,
						margin:10,
						nav:true,
						items:2,
						navSpeed: 1000,
						navText: [$('.b-center__left'),$('.btn-next')],
						pageDots:false,
						lazyLoad:true,
						responsive:{
									0:{
											items:1,
											stagePadding: 60
									},
									600:{
											items:1,
											stagePadding: 100
									},
									1000:{
											items:1,
											stagePadding: 200
									},
									1200:{
											items:1,
											stagePadding: 140
									},
									1400:{
											items:1,
											stagePadding: 200
									},
									1600:{
											items:1,
											stagePadding: 220
									},
									1800:{
											items:1,
											stagePadding: 400
									}
						}
						
					})
								
